.event-details {
  padding: 3rem;
  padding-top: 1rem;
}

.event-title {
  color: #282828;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 5px;
}

.margin-sm-auto {
  margin: 0;
}

@media (max-width: 1024px) {
  .event-details {
    padding: 1rem;
  }

  .margin-sm-auto {
    margin: auto;
  }
}