.page {
  padding: 3rem;
  padding-top: 1rem;
}

.page-title {
  color: #263238;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 5px;
}

.page-body {
  color: #263238;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  white-space: normal;
}

@media (max-width: 1024px) {
  .page {
    padding: 1rem;
  }
}
