nav {
  width: 100%;
  height: 55px;
  background-color: #007556;
  color: #E5F1EE;
  position: fixed;
  z-index: 500;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);

  h2 {
    float: left;
    padding: 0;
    margin: 0;
    padding: 10px 16px;

    a {
      display: block;
      color: #E5F1EE;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      height: 55px;

      a {
        display: block;
        color: #E5F1EE;
        text-align: center;
        padding: 17px 16px;
        text-decoration: none;
        transition: .5s background-color;

        &.active {
          background-color: rgba(0, 0, 0, 0.3);
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    
  }
}

.hidden-sm {
  display: block;
}

.burger-menu {
  display: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 15px;

 .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #E5F1EE;
    margin: 6px 0;
    transition: 0.4s;
  }

  &.change {
    .bar1 {
      transform: rotate(-45deg) translate(-10px, 6px);
    }
    
    .bar2 {
      opacity: 0;
    }
    
    .bar3 {
      transform: rotate(45deg) translate(-6px, -2px);
    }
  }
}

@media (max-width: 1024px) {
  .burger-menu {
    display: block;
    float: right;
  }

  .hidden-sm {
    display: none;
  }

  nav {
    h2 {
      float: left;
    }
    ul {
      background-color: #007556;
      margin-top: 55px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);

      li {
        float: none;

        a {
          text-align: left;
        }
      }
    }
  }
}
