#add {
  position: fixed;
  right: 40px;
  bottom: 36px;
  z-index: 999; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  font-size: 36px;
  color: #818181; }

/* The navigation links inside the overlay */
.overlay p {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */ }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay {
    font-size: 20px; } }

.full-width {
  width: 100%; }

.img-checkbox {
  height: 100px; }

.img-checkbox img {
  height: 100%;
  cursor: pointer;
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

.img-checkbox.is-checked img {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px); }

.warning {
  border-right: 2px solid darkred; }
