.posts {
  padding: 3rem;
  padding-top: 1rem;
}

.postFooter {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #cccccc;
}

.postImages {
  padding: 20px;
  margin-top: 24px;
}

.postTitle {
  color: #263238;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 5px;
}

.postBody {
  color: #263238;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  white-space: normal;
}
.postBody .postDate {
  color: #263238;
  text-transform: uppercase;
}

.postBody .postDate::before {
  content: '|';
  margin-right: 2px;
}

.postLink {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .postImages {
    padding: 0;
    margin-top: 0;
  }

  .postFooter {
    margin-left: 10px;
    margin-right: 10px;
  }

  .posts {
    padding: 1rem;
  }
}
