doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='//code.getmdl.io/1.2.1/material.green-light_green.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(defer, src='//code.getmdl.io/1.2.1/material.min.js')
    script(defer, src='//code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')    
    script(src='/js/admin.js')
  body
    div(id='overlay-progress', class='overlay')
      div(id='p2', class='mdl-progress mdl-js-progress mdl-progress__indeterminate', style='width: 100%')
      div(class='overlay-content')
    div(class='mdl-layout mdl-js-layout mdl-layout--fixed-header')
      header(class='mdl-layout__header')
        div(class='mdl-layout__header-row')
          span(class='mdl-layout-title') #{pageTitle}
      div(class='mdl-layout__drawer')
        span(class='mdl-layout-title') #{pageTitle}
        nav(class='mdl-navigation')
          if (!user)
            a(class='mdl-navigation__link', href='/admin/login') Login
          if (user)
            a(class='mdl-navigation__link mdl-menu__item--full-bleed-divider', href='/admin/logout') Logout
            a(class='mdl-navigation__link', href='/admin/posts') Posts
            a(class='mdl-navigation__link', href='/admin/events') Events
            a(class='mdl-navigation__link', href='/admin/static') Pages
      main(class='mdl-layout__content mdl-color--grey-100')
        .page-content
          block content