extends layout

block content
  a(href='/admin/posts/create')
    button(class='mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent', id='add', data-upgraded=',MaterialButton,MaterialRipple')
      i(class='material-icons', role='presentation') add
      span(class='visuallyhidden') Add
      span(class='mdl-button__ripple-container')
      span(class='mdl-ripple')
  div(class='mdl-grid')
    div(class='mdl-cell mdl-cell--6-col')
      if !(posts.length)
        h5 No posts found.
      if (posts.length)
        div(class='mdl-list')
          each post in posts
            div(class='mdl-list__item mdl-list__item--three-line')
              span(class='mdl-list__item-primary-content')
                i(class='material-icons mdl-list__item-avatar') subject
                span #{post.title}
                span(class='mdl-list__item-text-body') #{post.date.toISOString()}
              a(class='mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-list__item-secondary-action', href='/admin/posts/' + post._id)
                i(class='material-icons') mode_edit
              button(class='mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-list__item-secondary-action', onclick='deletePost("' + post._id + '")')
                i(class='material-icons') delete