.lazy-image {
  background-repeat: no-repeat;
  background-size: 150px 112px;
  width: 150px; 
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;  
}

.lazy-image:hover {
  opacity: 0.7;
}

.lazy-image img {
  opacity: 0;
  width: 150px;
  min-height: 112px;
  border-radius: 10px;  
}

.fade-in {
  transition: opacity 1500ms;
}
