.nf-event__title {
  color: #263238;
  font-family: Lora,Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 5px;
}

.event-card h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nf-event__sub-title {
  color: #263238;
  font-family: Lora,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 5px;
}

@media (max-width: 750px) {
  .event-card {
    width: 275px;
  }
}