.markup {
  text-align: justify;
}

.markup ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markup p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markup h1, 
.markup h2, 
.markup h3, 
.markup h4, 
.markup h5,
.markup h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.markup h1:first-child, 
.markup h2:first-child, 
.markup h3:first-child, 
.markup h4:first-child, 
.markup h5:first-child,
.markup h6:first-child {
  margin-top: 0;
}
