@import 'helpers';
@import 'markup';

#app {
	position: static;
	overflow: visible;
}

.nf-container {
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: $screen-sm) {
  .nf-container {
    padding: 0;
  }
}