@import 'markup';
@import 'popup';

#app {
	position: static;
	overflow: visible;
}

.nf-container {
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 750px) {
  .nf-container {
    padding: 0;
  }
}